
/dist/
/out-tsc/
/bazel-out/
/.angular/cache/


/node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*


environment
.env.local
.env.*.local


.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VS Code (Allow useful configs)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


/coverage/
testem.log


/tmp/
/.sass-cache/
/connect.lock
/libpeerconnection.log


.DS_Store
Thumbs.db


# Misc

.history/
__screenshots__/